.main{
    min-height: 100vh;
}
.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.profile-name{
    min-height: 100%;
    display: flex;
    align-items: center;
}

.profile-sub{
    border-bottom: 2px solid black;
}

.reservation-row{
    height: 50px;
    background-color: white;
    margin: 5px;
}