<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col" (click)="navigateToDashboard('client')">
                <div class="card client shadow-lg">
                    <h2 class="card-title text-center text-white vertical-center">CLIENT</h2>
                </div>
            </div>
            <div class="col" (click)="navigateToDashboard('restaurant')">
                <div class="card restaurant shadow-lg">
                    <h2 class="card-title text-center text-white vertical-center">RESTAURANT</h2>
                </div>
            </div>
        </div>
    </div>
</div>